.image-card {
  width: 100px;
  display: inline-block;
  margin: 3px;
  height: 95px;
}

.image-card > img {
  width: 100%;
  border: 10px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}

.image-card > img:hover {
  transform: scale(1.2);
  border: 7px solid black;
}
@media screen and (max-width: 767px) {
  .image-card > img:hover{
    transform: none;
    border: 10px solid rgba(0, 0, 0, 0.4);
  }
}

@media screen and (min-width: 550px) {
  .image-card {
    width: 20vw;
    max-width: 140px;
    height: 18vw;
    max-height: 133px;
  }
}